<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ServletProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>

  
  <!-- 특정 클래스를 servlet으로 등록하고 이름을 지정하는 태그 -->
<servlet>
    <servlet-name>ex1</servlet-name>
    <!-- 등록할 서블릿을 지칭할 명칭 -->
    <servlet-class>edu.kh.servlet.controller.ExampleController1</servlet-class>
    <!-- 서블릿으로 등록할 클래스의 패키지명.클래스명이라는 풀네임을 이 태그의 내용으로 적용
         + name으로 이름을 ex1으로 줌임 -->
</servlet>


<!-- 요청주소 처리 할 서블릿을 연결한다 -->
<servlet-mapping>
    <servlet-name>ex1</servlet-name>    <!-- 위에서 등록한 별칭 -->
    <url-pattern>/example1</url-pattern>    <!-- 연결한 요청 주소 -->
</servlet-mapping>



</web-app>